.idea
.fleet
.bloop
.bsp
.vscode
.eclipse
.metals
.scala

target/
logs

*.class
*.log
*.args
*.iml
metals.sbt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

## Frontend stuff
frontend/node_modules
frontend/dist
frontend/.parcel-cache
